<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav  mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashboard" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/user/login" tabindex="-1" aria-disabled="true">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>