<%- include("partials/_header") %>

    <body>

        <%- include("partials/_nav") %>

            <main class="container">
                USER LIST
            </main>

    </body>

    <%- include("partials/_footer") %>