<%- include("partials/_header") %>

    <body>

        <%- include("partials/_nav") %>

            <main class="d-flex justify-content-center">
                <div class="border rounded-2 d-flex flex-column  justify-content-center"
                    style=" width: 50rem; min-height: 10rem;">
                    <div class="d-inline-flex justify-content-center">
                        <img src="/images/avatar.png" width="100px" height="100px" class="rounded-circle"
                            style="position: fixed; top:36px" />
                    </div>
                    <div class="text-center mt-5">
                        <h4>test</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, est molestiae doloremque
                            minima voluptatibus ab velit explicabo dicta sed perferendis</p>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus in provident explicabo
                            inventore illum, quaerat fugiat omnis iste, et, aut ut eum voluptates voluptatum quas
                            expedita veniam repudiandae adipisci consequuntur.</p>
                    </div>

                </div>
            </main>

    </body>
    <%- include("partials/_footer") %>